---
import Layout from '../layouts/default.astro';
---

<Layout>
  <h1 class="text-sky-600 font-bold text-4xl my-8">Learn Javascript</h1>

  <p>This site is for learning Javascript.</p>

  <h2 class="font-bold text-2xl my-4">Courses</h2>

  <h3 class="font-bold text-xl my-4">
      JavaScript: From First Steps to Professional
  </h3>

  <ul>
    <li>
      <a class="underline text-sky-800" href="https://frontendmasters.com/courses/javascript-first-steps/">
        View course on Frontend Masters
      </a>
    </li>

    <li><a href="/quiz" class="underline text-sky-800">Quiz project</a></li>
    <li><a href="/doggo" class="underline text-sky-800">Doggo project</a></li>
  </ul>


  <h3 class="font-bold text-xl my-4">
      Vanilla JavaScript Projects
  </h3>

  <ul>
    <li>
      <a class="underline text-sky-800" href="https://frontendmasters.com/courses/javascript-projects/">
        View course on Frontend Masters
      </a>
    </li>

    <li>
      <a class="underline text-sky-800" href="https://anjana.dev/vanilla-js-projects/">
        View projects site
      </a>
    </li>

    <li><a href="/dark-mode" class="underline text-sky-800">Dark mode</a></li>
    <li><a href="/random-clock" class="underline text-sky-800">Random clock</a></li>
    <li><a href="/dark-modal" class="underline text-sky-800">Dark modal</a></li>
  </ul>



</Layout>
